[Unit]
DefaultDependencies=no
After=nss-lookup.target
Before=nvmf-autoconnect.service

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=60s
ExecStart=/bin/sh -c 'until ping -c1 -W1 linstor.home.schemesec.com; do sleep 1; done'

[Install]
WantedBy=nvmf-autoconnect.service

